:root {
  --black: #000;
  --black-opacity: rgba(0, 0, 0, 0.266);
  --black-icons: rgba(0, 0, 0, 0.692);
  --left: #040d13cf;
  --red: #a31621;
  --white: #fff;
  --white-opacity: rgba(255, 255, 255, 0.631);
  --none: rgba(0, 0, 0, 0);
  --buttons-light: #F6D822;
  --buttons: rgba(213, 213, 56, 0.792);
  --green: rgb(15, 141, 9);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px var(--none);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px var(--buttons-light);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}





.main {
  background: url("./img/polygon.svg")no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  padding: 50px 50px 10px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main * {
  padding: 10px;
}

.left {
  grid-area: div-left;
  background: var(--left);
  color: var(--white);
  border-radius: 10px 0px 0px 10px;
}

.left h1 {
  text-align: center;
  padding: 0;
}

.right {
  grid-area: div-right;
  background: var(--none);
  padding: 0;
}

.container {
  /** "elemento " alto de la fila / ancho de las columnas */
  display: grid;
  grid-template:
    'div-left' auto
    'div-right' auto;
  /** */
  background: var(--none);
  border-radius: 10px;
  padding: 10px;
}

.separator {
  border-bottom: solid 1.5px var(--buttons-light);
  width: 100%;
  padding: 0;
}

.list-left {
  grid-area: div-list-left;
  text-align: center;
  padding: 0px 0px 0px 60px;
}

.list-right {
  grid-area: div-list-right;
  text-align: center;
  padding: 0px 70px 0px 0px;
}

.list {
  /** "elemento " alto de la fila / ancho de las columnas */
  padding: 5px;
  display: grid;
  grid-template:
    'div-list-left' auto
    'div-list-right' auto;

}

.list div {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-content: center;
}

.list p {
  display: flex;
  align-content: left;
  align-items: center;
  padding: 0px;
}

.list i {
  margin-right: 4px;
}

.theme-button {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 1.25rem;
  padding: 20px 20px 20px 20px;
}

.theme-button i {
  color: var(--white);
}

.pictureLarge {
  display: flex;
  width: 90%;
  height: 90%;
  margin-top: 28px;
  border-radius: 0px 10px 10px 0px;
  padding: 0;
}

.pictureSmall {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
}

.div-pictureSmall {
  grid-area: div-pictureSmall;
}

.titles {
  grid-area: titles;
}

.button-under-title {
  grid-area: button-under-title;
}

.container-left-picture-mobile {
  /** "elemento " alto de la fila / ancho de las columnas */
  display: grid;
  justify-content: center;
  grid-template:
    'div-pictureSmall' auto
    'titles' auto
    "button-under-title" auto;
}

/**CENTRAR */
.div-pictureSmall .pictureSmall {
  margin-left: auto;
  margin-right: auto;
  margin-top: -70px;
}

.button-under-title {
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  font-size: 16px;
  color: var(--white);
  background: var(--buttons);
  border-radius: 5px;
  width: 120px;
  height: 35px;
  margin-bottom: 5px;
  padding-top: 7px;
}


.button:active {
  box-shadow: box-shadow 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  transform: translateY(4px);
  /* Moving button 4px to y-axis */
}

.button:hover {
  background: var(--buttons-light);
}

.div-buttons-rutes-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 5px;
  margin-top: 35px;
}

.div-social-media {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 5px;
}

.div-social-media i {
  cursor: pointer;
  margin-bottom: -10px;
  padding: 0;
}

.icon i {
  color: var(--white-opacity);
  margin-bottom: -10px;
  padding: 0;
  margin-top: 10px;
}

.icon i:hover {
  color: var(--buttons-light);
}

/** END MAIN */



/** */



/** CONTACT + INPUTS*/
.input-user,
.input-email,
.input-textarea,
.input-password {
  padding: 0;
  margin: 0;
}

.error-message {
  color: var(--buttons-light);
  padding: 0;
  margin: 0;
}

.button-forms {
  display: flex;
  justify-content: center;
  align-items: center;
}

select {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: solid 1.5px var(--white-opacity);
  color: rgba(163, 151, 151, 0.753);
  font-size: 17px;
  background: var(--none);
  text-align: center;
}

select:focus {
  outline: none;
}

select,
option {
  background: var(--none);
}

input {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: solid 1.5px var(--white-opacity);
  color: var(--white);
  font-size: 17px;
  background: var(--none);
}

textarea {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  border: solid 1.5px var(--white-opacity);
  background: var(--none);
  color: var(--white);
  font-size: 16px;
  background: var(--none);
}

input:hover,
textarea:hover,
select:hover {
  border: solid 1.5px var(--buttons-light);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: var(--green);
}


.button-forms button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--white);
  background: var(--buttons);
  border-radius: 5px;
  width: 100%;
  height: 40px;
  border: none;
  cursor: pointer;
}

.button-forms button:hover {
  background: var(--buttons-light)
}


.button-forms button:active {
  box-shadow: box-shadow 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  transform: translateY(4px);
  /* Moving button 4px to y-axis */
}

fieldset {
  border: 0;
}

fieldset div {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.input-user {
  grid-area: input-user;
}

.input-email {
  grid-area: input-email;
}

.input-textarea {
  grid-area: input-textarea;
}

.button-forms {
  grid-area: button-forms;
}

.div-contact-inputs {
  display: grid;
  grid-template:
    "input-user" auto
    "input-contact" auto
    "input-textarea" auto
    "button-forms" auto;
  padding: 0;
}

/** END CONTACT + INPUTS */



/** */








/** CV */


.cv-left {
  grid-area: cv-left;
  padding: 30px;
  padding-top: 50px;
}

.cv-right {
  grid-area: cv-right;
  background: linear-gradient(to bottom, rgba(36, 186, 59, 0.571) 10%, rgba(201, 213, 30, 0.62) 60%, rgba(255, 244, 223, 0.485));
  padding: 0;
}

.cv-title {
  grid-area: cv-title;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.cv-title h1 {
  padding: 0;
}

.separator-cv {
  margin-bottom: 10px;
}

.cv-social-media {
  grid-area: cv-social-media;
  padding: 0;
}

.container-cv {
  background: var(--left);
  border-radius: 15px;
  display: grid;
  grid:
    "cv-title cv-title" auto "cv-left cv-right" auto "cv-social-media cv-social-media" auto/60% 40%;
  padding: 50px;
  color: var(--white);
}

.cv-right img {
  width: 270px;
  height: 270px;
  padding: 0;
  margin-top: 50px;
}

.me {
  padding: 0;
  display: flex;
  justify-content: center;
}

.separator-cv-content {
  margin-bottom: 30px;
}

.cv-contact {
  text-align: center;
}

.cv-contact,
a {
  color: #000;
}

.cv-data,
.cv-personal,
.cv-on-the-web,
.cv-education,
p {
  margin-left: 15px;
}

.cv-data {
  text-align: left;
}

.cv-data p {
  cursor: pointer;
}

.cv-personal {
  text-align: left;
}

.cv-personal p {
  cursor: pointer;
}

.cv-on-the-web {
  text-align: left;
}

.cv-on-the-web p {
  cursor: pointer;
}

.cv-education {
  text-align: left;
}

.cv-education p {
  cursor: pointer;
}

.download_cv {
  width: 100%;
}

.Skils>img {
  width: 80px;
}

/**END CV */



/** */




/** COMPUTADORA */
@media (min-width: 900px) {

  .container {
    grid-template:
      /** "elemento elemento" alto de la fila / ancho de las columnas */
      'div-left div-right' auto /
      65% auto;
  }

  .list {
    grid-template: 'div-list-left div-list-right' auto / auto auto;
  }

  .container-left-picture-mobile {
    /** "elemento " alto de la fila / ancho de las columnas */
    grid-template:
      'titles' auto
      'button-under-title' auto/auto;
  }

  .div-pictureSmall {
    display: none;
  }

  .div-contact-inputs {
    grid-template:
      'input-user input-email' auto 'input-textarea input-textarea' auto
      'button-forms button-forms' auto/auto auto
  }


}

/** */

/** TABLET */
@media (max-width: 900px) {
  .container {
    grid-template:
      /** "elemento " alto de la fila / ancho de las columnas */
      'div-left' auto /
      auto;
  }

  .left {
    border-radius: 10px 10px 10px 10px;
  }

  .right {
    display: none;
  }

  .list {
    /** "elemento " alto de la fila / ancho de las columnas */
    grid-template:
      'div-list-left div-list-right' auto / auto auto;
  }

  .div-pictureSmall {
    display: flex;
  }

  .container-left-picture-mobile {
    /** "elemento " alto de la fila / ancho de las columnas */
    grid-template:
      'div-pictureSmall' auto
      'titles' auto
      'button-under-title' auto/auto;
  }

  .div-contact-inputs {
    grid-template:
      'input-user input-email' auto 'input-textarea input-textarea' auto
      'button-forms button-forms' auto/auto auto
  }

  .container-cv {
    grid:
      "cv-title cv-title" auto "cv-left cv-right" auto "cv-social-media cv-social-media" auto/auto auto;
  }

}



/** */

/** CELULAR */
@media (max-width: 500px) {


  .container {
    margin-top: 35px;
  }

  .left {
    padding: 0;
    margin-top: -25px;
  }


  .list {
    grid-template:
      'div-list-left ' auto
      'div-list-right' auto/ auto;
  }



  .list-left {
    padding: 0px 0px 0px 0px;
  }

  .list-right {
    padding: 10px 0px 0px 30px;
  }

  .div-contact-inputs {
    grid-template:
      'input-user' auto 'input-email' auto
      'input-textarea' auto
      'button-forms ' auto/auto
  }

  .container-cv {
    padding: 10px;
  }

  .cv-left {
    padding: 2px;
  }

  .cv-right {
    padding: 0;
  }


}

/** CV */
@media (max-width: 670px) {
  .container-cv {
    grid:
      "cv-title" auto " cv-right" auto "cv-left" auto "cv-social-media" auto/auto;
  }

  .cv-right img {
    width: 200px;
    height: 200px;
  }
}



/** */



/**  LIGHT THEME */

.left-light {
  background: var(--white-opacity);
  color: var(--black);
}

.button-light {
  background: var(--buttons-light);
  color: var(--black);
}

.button-light:hover {
  background: var(--buttons);
  color: var(--black);
}

.icon-light i {
  color: var(--black-icons);
}

.theme-button-light i {
  color: var(--black);
}

.main-light {
  background: url('./img/blob-scene-haikei.svg')no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  padding: 50px 50px 10px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-forms-light button {
  background: var(--buttons-light);
  color: var(--black);
}

.button-forms-light button:hover {
  background: var(--buttons);
}

.form-contact-light input {
  background: var(--none);
  border: solid 1.5px var(--black-opacity);
  color: #000;
}

.form-contact-light textarea {
  background: var(--none);
  border: solid 1.5px var(--black-opacity);
  color: #000;
}

.form-contact-light input:hover,
textarea:hover,
select:hover {
  border: solid 1.5px var(--buttons-light);
}

.form-contact-light input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: var(--green);
}

.text-as-link-light span {
  color: var(--black);
}

.container-cv-light {
  background: var(--white-opacity);
  color: var(--black);
}



.error-message-light {
  color: var(--red);
}














.main-projects div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}



@media (max-width: 930px) {
  .main-projects div {
    flex-direction: column;
  }

}